@import "~bootstrap/scss/bootstrap.scss";
body {
    background: rgb(31, 30, 30);
}
.container {
    background: rgb(58, 58, 58);
    border-radius: 8px;
}
li {
    cursor: pointer;
    font-size: 20px;
    // font-weight: bold;
    color: white;
}
h2 {
    color: rgb(255, 255, 255);
}

.myButtons {
    font-size: 24px;
    // margin: 5px;
    color: rgb(75, 75, 75);
}

.active {
    box-shadow: 0px 0px 30px 5px rgba(250, 210, 177, 0.534);
    background: rgba(250, 210, 177, 0.534);
}

.song:hover {
    background: rgba(250, 210, 177, 0.534);
}